<ul><b><%= single_color[:name] %></b>
<li><%= single_color[:characteristic] %></li>
<li><%= single_color[:rating_1_to_5] %></li>
</ul>
<a href="/colors/<%= single_color[:id] %>/edit">Edit Color</a><br>

<!--<a href="/">Delete Color</a>-->

<form action="/colors/<%= single_color[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Color">
</form>

<a href="/">View Full List</a>


